<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function sig(){
            window.open('/primera','_parent')
        }
    </script>
    <style>
        #bienvenida{
            width:700px;
            position: absolute;
            left: 27%;
            top: 30%;
            background-color:rgba(255, 255, 255, 0.76);
            font-family:'Courier New', Courier, monospace;
            text-align: center;
        }
        
    </style>
</head>
<body style="background-image: url('/static/dos.jpg');">
    <div class="card" id="bienvenida">
        <div class="card-body">
            <h1>Bienvenido(a)</h1>
            <p class="parrafo">Esta aplicación llevara un registro de tus terapias y tu avance con respecto a la enfermedad de Parkinson</p>
            <p><button type="button" class="btn btn-info" onclick="sig()">Siguiente</button></p>
        </div>
    </div>
</body>
</html>