<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function sig(){
            archivo=document.getElementById("archivo").value;
            if (archivo==""){
                alert("Ingrese un archivo");
            }
            else{
                document.getElementById("formdiagnostico").submit()
            }
        }
        function omitir(){
            window.open('/pruebatalco','_parent')
        }
    </script>
    <style>
        #bienvenida{
            width:700px;
            position: absolute;
            left: 27%;
            top: 30%;
            background-color:rgba(255, 255, 255, 0.76);
            font-family:'Courier New', Courier, monospace;
            text-align: center;
        }
        
    </style>
</head>
<body style="background-image: url('/static/dos.jpg');">
    <div class="card" id="bienvenida">
        <div class="card-body">
            <form action="/pruebaca" method="post" id="formdiagnostico" enctype="multipart/form-data">
                <h1>Para empezar</h1>
                <p class="parrafo">Si cuentas con un archivo de marcha ingresalo a continuación, esto permitirá un mejor desempeño en tu proceso</p>
                <label for ="archivo">Archivo(.c3d):</label>
                <input type="file" name="archivo" id="archivo" accept=".c3d">
                <p><button type="button" class="btn btn-info" onclick="sig()">Siguiente</button></p>
                <p><button type="button" class="btn btn-info" onclick="omitir()">Omitir</button></p>
            </form>
        </div>
    </div>
</body>
</html>