<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendación</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #rec{
            width:700px;
            position: absolute;
            left: 30%;
            top: 30%;
            font-family:'Courier New', Courier, monospace;
        }
        
    </style>
    <script>
        function terapia3(){
            window.open('/terapia3','_parent')
        }
        function otra(){
            window.open('/terapiainicial','_parent')
        }
    </script>
</head>
<body style="background-image: url('/static/dos.jpg');">
    <div class="container" id="rec">
        <div class="card bg-info text-white">
            <div class="card-body">
                  <h1>Terapia recomendada</h1>
                  <br>
                  <p>Ejercicios calisténico-recreativo para mejorar la velocidad de la marcha, 
                    enfocados en la agilidad y el fortalecimiento de grupos musculares de los pies, 
                    las pantorrillas, entre otros</p>
                    <p>10 Sesiones en total</p>
                    <p>Sesiones de 45 minutos</p>
                    <p>-Calentamiento (10 min)</p>
                    <p>-Movilidad articular (5 min)</p>
                    <p>-Ejercicio aeróbico (10 min)</p>
                    <p>-Coordinación general (15 min)</p>
                    <p>-Estiramiento (5 min)</p> 
                  <button type="button" class="btn btn-info" onclick="terapia3()">Iniciar</button>
                  <button type="button" class="btn btn-info" onclick="otra()">Elegir otra terapia</button>
            </div>
        </div>
      </div>
</body>
</html>