<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terapia</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #menu{
            width:700px;
            position: absolute;
            left: 30%;
            top: 30%;
            font-family:'Courier New', Courier, monospace;
        }
        
    </style>
    <script>
        function continuar(){
            window.open('/terapiaactual','_parent')
        }
        function nueva(){
            window.open('/confirmar','_parent')
        }
        function volver(){
            window.open('/menu2','_parent')
        }
    </script>
</head>
<body style="background-image: url('/static/dos.jpg');">
    <div class="container" id="menu">
        <div class="card bg-info text-white">
          <div class="card-body">
            <button type="button" class="btn btn-info" onclick="continuar()">Continuar terapia actual</button>
          </div>
        </div>
        <br>
        <div class="card bg-info text-white">
            <div class="card-body">
                <button type="button" class="btn btn-info" onclick="nueva()">Nueva terapia</button>
            </div>
          </div>
          <br>
        <div class="card bg-info text-white">
            <div class="card-body">
                <button type="button" class="btn btn-info" onclick="volver()">Volver</button>
            </div>
        </div>
      </div>
      
    
</body>
</html>