<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terapia1_3</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #rec{
            width:700px;
            position: absolute;
            left: 30%;
            top: 30%;
            font-family:'Courier New', Courier, monospace;
        }
        
    </style>
    <script>
        function continuar(){
            window.open('/terapia1_4','_parent')
        }
        function salir(){
            window.open('/menu2','_parent')
        }
    </script>
</head>
<body style="background-image: url('/static/dos.jpg');">
    <div class="container" id="rec">
        <div class="card bg-info text-white">
            <div class="card-body">
                <h1>Ejercicios para el equilibrio (20 min)</h1>
                <br>
                <p>Series: 4</p>
                <p>Duración por ejercicio: 1m</p>
                <p>Secuencia: orden establecido</p>
                <p>-Camine 20 pasos poniendo un pie delante del otro</p>
                <p>-De pie con las piernas separadas, con los brazosen cruz, al inhalar cruzar la pierna derecha sobre la izquierda y al mismo tiempo elevar el brazo izquierdo</p>
		        <p>-Descanso de 1 minuto</p>
                <p>-Elevar al mismo tiempo brazo izquierdo y pierna derecha estirada sin tocar el suelo (si es necesario puede iniciar apoyandose en la pared o un soporte)</p>
		        <p>-Ejercicios de cargas de peso hacia una u otra pierna</p>
                <button type="button" class="btn btn-info" onclick="continuar()">Continuar</button>
                <button type="button" class="btn btn-info" onclick="salir()">Salir</button>
            </div>
        </div>
      </div>
</body>
</html>